{% extends 'base.html.twig' %}

{% block title %}Recette index{% endblock %}

{% block body %}
    <h1>Recette index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Instructions</th>
                <th>TempsPreparation</th>
                <th>TempsCuisson</th>
                <th>Difficulte</th>
                <th>NbPersonnes</th>
                <th>DateCreation</th>
                <th>Publiee</th>
                <th>ImageName</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recette in recettes %}
            <tr>
                <td>{{ recette.id }}</td>
                <td>{{ recette.titre }}</td>
                <td>{{ recette.description }}</td>
                <td>{{ recette.instructions }}</td>
                <td>{{ recette.tempsPreparation }}</td>
                <td>{{ recette.tempsCuisson }}</td>
                <td>{{ recette.difficulte }}</td>
                <td>{{ recette.nbPersonnes }}</td>
                <td>{{ recette.dateCreation ? recette.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ recette.publiee ? 'Yes' : 'No' }}</td>
                <td>{{ recette.imageName }}</td>
                <td>
                    <a href="{{ path('app_recette_show', {'id': recette.id}) }}">show</a>
                    <a href="{{ path('app_recette_edit', {'id': recette.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_recette_new') }}">Create new</a>
{% endblock %}
