{% extends 'base.html.twig' %}

{% block title %}CategorieRecette index{% endblock %}

{% block body %}
    <h1>CategorieRecette index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Icone</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie_recette in categorie_recettes %}
            <tr>
                <td>{{ categorie_recette.id }}</td>
                <td>{{ categorie_recette.nom }}</td>
                <td>{{ categorie_recette.icone }}</td>
                <td>{{ categorie_recette.description }}</td>
                <td>
                    <a href="{{ path('app_categorie_recette_show', {'id': categorie_recette.id}) }}">show</a>
                    <a href="{{ path('app_categorie_recette_edit', {'id': categorie_recette.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_categorie_recette_new') }}">Create new</a>
{% endblock %}
