{% extends 'base.html.twig' %}

{% block title %}CategorieRecette{% endblock %}

{% block body %}
    <h1>CategorieRecette</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorie_recette.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ categorie_recette.nom }}</td>
            </tr>
            <tr>
                <th>Icone</th>
                <td>{{ categorie_recette.icone }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ categorie_recette.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_categorie_recette_index') }}">back to list</a>

    <a href="{{ path('app_categorie_recette_edit', {'id': categorie_recette.id}) }}">edit</a>

    {{ include('categorie_recette/_delete_form.html.twig') }}
{% endblock %}
